body {
    background-image: url("Login page.gif");
    background-position: center;
    background-size: cover;
}
label { 
    color: lightsalmon;
}
h4 {
    color: red;
}
#output
{
background: white;
border-radius: 10px;
border-top: 10px solid royalblue;
padding: 10px;
float: none;
text-align: left;
}